body {
	background-color: #ddd;
}
#scoreBoard {
	margin-left: 33px !important;
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 620px;
	color: white;
	background-color: black;
	margin:10px;
	font-weight: bold;
}
#showHighScoreBtn, #restartGameBtn{
	position: absolute;
	width: 280px;
}
#tileContainer {
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
}
.ball {
	background-color: brown !important;
	z-index: 100;
}
.blink {
	animation:blink 400ms infinite alternate;
}
.boxscoreBoldHeadings {
	font-weight:bolder;
}
.boxscoreHeadings {
	text-indent:1em;
}
.cellStyling {
	text-align: center !important;
}
.column {
	display:flex;
	flex-direction:column;
	background-color: #ddd;
}
.defender {
	background-color: blue;
	z-index: 100;
}
.headingStyle {
	font-weight: bolder;
}
.helpBtns{
	margin: 10px;
	font-size: 20px;
}
.player {
	background-color: black;
}
.playByPlayHeading {
	font-weight: bold;
	padding: 5px;
}
.playByPlayItem {
	margin-right: 5px;
	text-indent: 1.5em;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 12px;
}
.roundedPanels {
	-webkit-border-radius: 12px;
	-moz-border-radius: 7px; 
	-webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);		
}
.scoreValues {
	font-size: 30px;
	letter-spacing: 1.5px;
	margin-top: -15px;
}
.sidePanels {
	width: 300px;
	background-color: blue;
	height: 400px;
	margin-top: 60px;
}
.sidePanelContainer {
	background-color: white;
	width: 300;
	width: 260px;
	margin: 20px;
	height: 300px;
	overflow: hidden;
	overflow-y: scroll;
}
.sidePanelLabel {
	margin: 10px;
	font-size: 25px;
	font-weight: bolder;
	text-align: center;
	color: white;
}
.tile{
	height: 67px;
	width: 67px;
	background-color: green;
	color: white;
	position: relative;
	border: 1px solid #dddddd;
}
.token {
	height: 100%;
	width: 100%;
	color: white;
	top: 0px;
	left: 0px;
	position: absolute;
}
.uiContainer {
	display:flex;
	margin:20px;
	background-color: #ddd;
}
.wr {
	background-color: red;
}
@keyframes blink {
from { opacity:1; }
to { opacity:0; }